@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ContactInfoSection)Model.Content;
    var settings = Model.Settings as ContentModels.ContactInfoSettings;
    var siteSettings = Umbraco.ContentAtRoot().OfType<SiteSettings>().FirstOrDefault();

    var sectionColor = settings?.ContactInfoSectionColor ?? "#F7F7F7";

}

<section class="flex flex-col md:flex-row items-center" style="background-color:@sectionColor;">

    
    <div class="w-full md:w-1/2 flex justify-end mb-10 md:mb-0 relative pt-10 pr-20">
        <img src="@content.ContactInfoSectionImage.Url()" alt="Contact Image" class="w-full max-w-[500px] object-cover" />


    </div>


    
    <div class="w-full md:w-1/2 space-y-6 md:pl-12">
        <h1 class="text-4xl font-extrabold text-primary leading-tight max-w-md">
            @Html.Raw(content.ContactInfoSectionTitle.Replace(Environment.NewLine, "<br />"))
        </h1>



        <div class="space-y-4 text-gray-600">
            <p class="flex items-center gap-3">
                <i class="fa-solid fa-location-dot text-secondary"></i>
                <span>
                    <span class="block font-semibold text-gray-800">Office location</span>
                    @(siteSettings?.ContactAddress ?? "Klarabergsviadukten 90, 111 52 Stockholm")
                </span>
            </p>

            <p class="flex items-center gap-3">
                <i class="fa-solid fa-phone text-secondary"></i>
                <span>
                    <span class="block font-semibold text-gray-800">Phone number</span>
                    @(siteSettings?.ContactPhone ?? "+46 8 123 456 75")
                </span>
            </p>

            <p class="flex items-center gap-3">
                <i class="fa-solid fa-envelope text-secondary"></i>
                <span>
                    <span class="block font-semibold text-gray-800">E-mail address</span>
                    @(siteSettings?.ContactEmail ?? "info@company.com")
                </span>
            </p>
        </div>
    </div>
</section>

